.deal {
  text-align: center;
  background-color: rgba(253, 253, 255, 0.5);
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 60px;

  &-bg {
    background: $clr-bg-gradient;
    padding-top: 70px;
    padding-bottom: 100px;
  }

  &__content {
    max-width: 90%;
    margin: 0 auto 60px;
  }

  &__title {
    font-weight: $fw-medium;
    color: $clr-orange;
    margin-bottom: 30px;
  }

  &__text--bigsize {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.infographic {

  &__title {
    font-weight: $fw-medium;
    margin-bottom: 40px;
  }

  &__block {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  &__card {
    flex-basis: 168px;
  }

  &__image {
    @include border(5px);
    position: relative;
    display: flex;
    width: 168px;
    height: 168px;
    background-color: $clr-white;
    margin-bottom: 30px;
  }

  &__image>img {
    margin: auto;
  }
}

@media (max-width: 991px) {
  .deal {
    padding-top: 30px;
    padding-bottom: 50px;


    &-bg {
      padding-top: 30px;
      padding-bottom: 50px;
    }
  }

  .infographic {
    margin-bottom: 50px;

    &__block {
      max-width: 80%;
    }
  }
}