.explanation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 140px;
  padding-bottom: 180px;

  &-bg {
    background-image: url(../../assets/image/explanation-bg-1.png);
    background-position: top right;
    background-repeat: no-repeat;
  }

  &__image {
    flex: 0 1 50%;
  }

  &__content {
    flex: 1 0 45%;
    max-width: 465px;
  }

  &__title {
    line-height: 0.9;
    font-weight: $fw-medium;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-weight: $fw-regular;
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .explanation {
    padding-top: 100px;
    padding-bottom: 142px;

    &-bg {
      background-image: none;
    }

    &__content {
      margin-left: 31px;
    }
  }
}