.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-bg {
    background-color: $clr-black;
  }

  &__logo {
    padding: 14px 0;
  }

  &__nav > .nav__link:last-child {
    padding-right: 0;
  }
}


