.hero {
  padding-top: 86px;
  padding-bottom: 100px;

  &-bg {
    background-image: url(../../assets/image/bg-panda.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    max-width: 45%;
    text-align: center;
    margin-left: auto;
  }

  &__title {
    position: relative;
    margin-bottom: 60px;
    z-index: 100;

    &::before {
      position: absolute;
      left: -75px;
      bottom: 10px;
      z-index: -100;
      display: block;
      content: "";
      width: 465px;
      height: 465px;
      border-radius: 50%;
      background: $clr-orange $clr-btn-gradient;
    }
  }
}