.testimonials {

  &-bg {
    background: url(../../assets/image/testimonials-bg.png) right bottom;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 180px;
  }

  &__title {
    font-weight: $fw-medium;
    text-align: center;
    margin-bottom: 47px;
  }

  &__block {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.autor {
  @include border(20px);
  font-size: $fs-subtext;
  flex-basis: 268px;
  color: $clr-gray;
  background-color: $clr-gray-light;
  padding: 15px;

  &__info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 11px;
  }

  &__data {
    line-height: 1.2;
    margin-left: 10px;
  }

  &__name {
    color: $clr-black;
    font-size: $fs-text;
  }

  &__date {
    color: $clr-gray-smoky;
  }
}

@media (max-width: 991px) {
  .testimonials {

    &-bg {
      background-size: 20%;
      padding-bottom: 140px;
    }

    &__block {
      flex-wrap: nowrap;
    }
  }

  .autor {
    flex-basis: 293px;

    &:last-child {
      display: none;
    }
  }
}