.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;

  & > li:last-of-type > a {
    padding-right: 0;
  }

  &__link {
    color: $clr-white;
    font-weight: $fw-medium;
    text-decoration: none;
    padding: 29px;
    @include transition;

    &--active {
      color: $clr-orange;
    }
    
    &:hover {
      color: $clr-orange;
    }
  }
}
