.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;


  &__link {
    color: $clr-white;
    font-weight: $fw-medium;
    text-decoration: none;
    padding: 29px;
    transition: color ease-in-out 500ms;

    &:hover {
      color: $clr-orange;
    }
  }
}