:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

input {
  all: unset;
  cursor: pointer;
}

.container {
  width: 95%;
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    max-width: 940px;
  }
}